

.search-box-wrapper{

    --search-box-text: black;
    /* --searchbox-height: 18px; */
}

.search-box-append{
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 0;
    width: 30px;
    height: 100%;
    background-image: url("symbol-magnifier.svg");
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.search-box {
    /* padding-left: 50px; */

    background-color: var(--search-box-bg, white);
    /* border: none; */
    border: 1px solid #ced4da;
    /* color: var(--search-box-text, black); */
    display: block;
    outline: none;
    padding-inline-start: 45px;
    padding-inline-end: 15px;
    width: 100%;
    /* z-index: 2; */

    border-radius: 22px !important;
    box-sizing: border-box;
    font-size: 16px;
    height: var(--searchbox-height);
    opacity: 1;
    position: relative;
    transition: none;
}